[submodule "pay"]
	path = pay
	url = https://github.com/BuiThiDao/pay.git
[submodule "lib/packages/chat/pay"]
	path = lib/packages/chat/pay
	url = https://github.com/BuiThiDao/pay.git
[submodule "lib/packages/profile"]
	path = lib/packages/profile
	url = https://github.com/BuiThiDao/profile.git
[submodule "lib/core/common"]
	path = lib/core/common
	url = https://github.com/BuiThiDao/common.git
[submodule "lib/core/theme"]
	path = lib/core/theme
	url = https://github.com/BuiThiDao/theme.git
